.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #177500;
}
.highlight .cp {
  color: #177500;
}
.highlight .c1 {
  color: #177500;
}
.highlight .cs {
  color: #177500;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #177500;
}
.highlight .err {
  color: #c41a16;
}
.highlight .gd {
  color: #1d1d1f;
}
.highlight .ge {
  color: #1d1d1f;
}
.highlight .gr {
  color: #c41a16;
}
.highlight .gh {
  color: #177500;
}
.highlight .gi {
  color: #1d1d1f;
}
.highlight .go {
  color: #177500;
}
.highlight .gp {
  color: #1d1d1f;
}
.highlight .gu {
  color: #1d1d1f;
}
.highlight .gt {
  color: #c41a16;
}
.highlight .kc {
  color: #ad3da4;
}
.highlight .kd {
  color: #ad3da4;
}
.highlight .kn {
  color: #ad3da4;
}
.highlight .kp {
  color: #ad3da4;
}
.highlight .kr {
  color: #ad3da4;
}
.highlight .kt {
  color: #703daa;
}
.highlight .k, .highlight .kv {
  color: #ad3da4;
}
.highlight .mf {
  color: #1c00cf;
}
.highlight .mh {
  color: #1c00cf;
}
.highlight .il {
  color: #1c00cf;
}
.highlight .mi {
  color: #1c00cf;
}
.highlight .mo {
  color: #1c00cf;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #1c00cf;
}
.highlight .sa {
  color: #1d1d1f;
}
.highlight .sb {
  color: #c41a16;
}
.highlight .sc {
  color: #c41a16;
}
.highlight .sd {
  color: #c41a16;
}
.highlight .s2 {
  color: #1d1d1f;
}
.highlight .se {
  color: #c41a16;
}
.highlight .sh {
  color: #c41a16;
}
.highlight .si {
  color: #1d1d1f;
}
.highlight .sx {
  color: #c41a16;
}
.highlight .sr {
  color: #177500;
}
.highlight .s1 {
  color: #c41a16;
}
.highlight .ss {
  color: #703daa;
}
.highlight .s, .highlight .dl {
  color: #c41a16;
}
.highlight .na {
  color: #703daa;
}
.highlight .bp {
  color: #177500;
}
.highlight .nb {
  color: #1d1d1f;
}
.highlight .nc {
  color: #1c00cf;
}
.highlight .no {
  color: #703daa;
}
.highlight .nd {
  color: #1d1d1f;
}
.highlight .ni {
  color: #703daa;
}
.highlight .ne {
  color: #c41a16;
}
.highlight .nf, .highlight .fm {
  color: #c41a16;
}
.highlight .nl {
  color: #c41a16;
}
.highlight .nn {
  color: #1d1d1f;
}
.highlight .nt {
  color: #1d1d1f;
}
.highlight .vc {
  color: #1d1d1f;
}
.highlight .vg {
  color: #1d1d1f;
}
.highlight .vi {
  color: #1d1d1f;
}
.highlight .nv, .highlight .vm {
  color: #1d1d1f;
}
.highlight .ow {
  color: #1d1d1f;
}
.highlight .o {
  color: #1d1d1f;
}
.highlight .w {
  color: #1d1d1f;
}
.highlight {
  background-color: #f5f5f7;
}
